<!doctype html>
<html>
    <head>
    </head
    <body>
        <h1> Hello {{name}}!!</h1>
        <h2> please press save after editing your data</h2>
        <form action="/editProfile" method="post">
            {{>fullName}}
            {{>profileData}}
            {{>passwordAndEmail}}
            <input type="submit" value="save"></input>
        </form>
    </body>
</html>
