
 <div id="container">

           <!--
         <form action='/name' method="POST">
           First name:<br>
           <input type="text" name="firstname" value="Mickey">
           <br>
           Last name:<br>
           <input type="text" name="lastname" value="Mouse">
           <br><br>
           <input type="submit" value="Submit">
         </form>
     -->
         <br><br>
         <form action='/registrationForm' method="POST">
           First name:<br>
           <input type="text" name="firstname" value="">
           <br>
           Last name:<br>
           <input type="text" name="lastname" value="">
           <br><br>
           Email:<br>
           <input type="eamil" name="email" value="">
           <br><br>
           Password:<br>
           <input type="password" name="password" value="">
           <br><br>
           <input type="submit" value="Submit">
         </form>
 </div>
